*{
    margin:0;
    padding:0;
    font-family: 'poppins', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background:linear-gradient(rgb(24, 23, 23),#f05c8b,black);
     */
     /* background:linear-gradient(black,rgb(239, 105, 105)); */
     background: rgb(214, 203, 203);
    color:rgb(14, 13, 13);
}
#header{
    width:100%;
    height:100vh;
    background-image: url(back.png);
   background-size: cover;
   background-position: center;
}

/* #header:hover{
    background-color: #ff004f;
} */
.container{
   padding:10px 10%; 
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width:140px;
        
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}

nav ul li a {
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height:3px;
    background:#ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;
    
}
nav ul li a:hover{
    color:rgb(233, 27, 44);
}
nav ul li a:hover::after {
    width: 100%; 
}
.headertext {
    /* display:block;
    margin:auto; */
    margin-top: 15%;
    margin-left:-10px;
    font-size: 40px;
    /* transition: background 0.5s ,transform 0.5s; */
    width:70%;
    color: white;
    text-indent: 20px;
}
/* .headertext:hover{
    background-color: #090909; 
     border:2px solid rgb(241, 229, 229);
    border-radius: 10px;
} */

/* .headertext h1 {
    color: rgb(8, 8, 8);
    font-size: 60px;
    font-family:'Arial-black'; 
    margin-top:20px;
} */

.headertext  span1{
    color:rgb(243, 99, 10);
    font-size: 60px;
}
.headertext span2 {
    color:rgb(255, 253, 253);
    font-size: 60px;
}
.headertext span3 {
    color:rgb(4, 165, 15);
    font-size: 60px;
}
/* .headertext span:hover {
    color:orange;
}
.headertext span1:hover {
    color:white;
}
.headertext span2:hover {
    color:green;
} */ 

.headertext p1{
    font-family:'Arial-black';
    font-weight:1000;
    font-size: 50px;
    color: rgb(43, 109, 167);
}
 .btn1{
    display:block;
    text-decoration: none;
    color:#fff;
    transition:transform 1s;
}
.btn1:hover{
    transform: translateX(10px);
    color:linear-gradient(orange,white,green);
} */


/* --------ABOUT--------- */
#about {
    padding: 0;
    color: #0e0e0e;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    /* flex-basis: 35%; */
    display:inline;
    background-color: black;
    width:45%;
    
}

.about-col-1 video {
    /* width: 100%;
    border-radius: 25%; */
    width:100%;
    height:100%;
    /* border-radius: 0%; */

}

.about-col-2 {
    /* flex-basis: 60%;
     */
     display:inline;
     width:50%;
}
.about-col-2 p{
    font-size:20px;
    font-weight:400;
}

.sub-titles {
    font-size: 70px;
    font-weight: 200;
    color:rgb(11, 11, 11);
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color:black;
}

.tab-links::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}
.tab-links:hover{
    color:#ff004f;
}
.tab-links.active-link::after {
    width: 75%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
     font-size:25px;

}

.tab-contents ul li span {
    color:#ff004f;
    font-size: 25px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}

/* -------------services */
#services{
    padding:30px 150px;
    color:black;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px ;
    margin-top: 50px;
}
.services-list div1{
    background-color: #f47506;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s ,transform 0.5s;
}
.services-list div1 i{
    font-size: 50px;
    margin-bottom: 30px;
   }
   .services-list div1 h2{
    font-size:30px ;
    font-weight:500 ;
    margin-bottom:15px ;
    
}

.services-list div1:hover{
    background:linear-gradient(orange,white,green);
        transform:translateX(-10px);
}
.services-list div2{
    background-color: #f5f1f1;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s ,transform 0.5s;
   color:black;
}
.services-list div2 i{
    font-size: 50px;
    margin-bottom: 30px;
    
    
   }
   .services-list div2 h2{
    font-size:30px ;
    font-weight:500 ;
    margin-bottom:15px ;
   color:black;
    
}

.services-list div2:hover{
    background:linear-gradient(orange,white,green);
    transform: translateY(-10px);
}
.services-list div3{
    background-color: #0f8105;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s ,transform 0.5s;
}
.services-list div3 i{
    font-size: 50px;
    margin-bottom: 30px;
   }
   .services-list div3 h2{
    font-size:30px ;
    font-weight:500 ;
    margin-bottom:15px ;
}

.services-list div3:hover{
    background:linear-gradient(orange,white,green);
    transform:translateX(10px);
    
}



/* -------portfolio------- */
#portfolio{
    padding:50px 0;
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px ;
    margin-top: 50px;
}
.work{
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
    height:100%;
}   
.layer{
    width:100%;
    height:0;
    /* background:linear-gradient(white,#ff004f,black); */
    background:linear-gradient(orange,white,green);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
 font-size: 14px;
 transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer h3.design{
    color:black;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
.layer a{
 margin-top: 20px;
 color:#ff004f;
 text-decoration: none;
 font-size: 14px;
 line-height: 60px;
 background: white;
 width:60px;
height:60px;
border-radius: 50%;
text-align: center;
}
.work:hover img{
    transform:scale(1.1);
 }
 .work:hover .layer{
     height:100%;
 }
 .btn{
    display:block;
    margin: 50px ;
    width: fit-content;
    border:1px solid #ff004f;
    padding:14px 50px;
    border-radius:6px;
    text-decoration: none;
    
    transition: background 0.5s ,transform 0.5s;
}
.btn:hover{
    background:#0f8105;
    transform:translateY(-5px);
    
}
/* contact */
.contact-left{
    flex-basis: 35%;

}
.contact-right{
flex-basis: 60%;
}
.contact-left p{
margin-top:30px;
}
.contact-left p i{
color:#ff004f;
margin-right:15px;
font-size: 25px;
}
.social-icons{
    margin-top:30px;
    }
.social-icons a{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ababab;
display: inline-block;
transition: transform 0.5s;
}
.social-icons a:hover{
background:transparent;
color:#ff004f;
transform:translateY(-5px);
}
.btn.btn2{
    display:inline-block;
    color:black;
   
    font-weight: 1000;
    background:#ff004f;
    border-color:#eef3f2f6 ;
    }
.contact-right form{
width:100%;

}
form input,form textarea{
width:100%;
border:0;
outline:none;
background:#262626;
padding:15px;
margin:10px;
color:#fff;
font-size: 18px;
border-radius: 16px;
}
form btn2{
padding:14px 60px;
font-size: 18px;
margin-top: 20px;
}
.btn.btn2:hover{
    cursor: pointer;
}

.contact-left .fa-solid{
     color:#ff004f;
}

.copyright{
    width: 100%;
    text-align: center;
    padding:25px;
    font-weight: 300;
    background:rgb(214, 203, 203);
    margin-top: 20px;
    }
    .copyright i{
         color:#ff004f;
    }
    nav .fa-solid {
        display:none;
    }
    
    #experience a{
    text-indent: 10px;
    text-decoration: none;
    color:#ff004f;
    /* background-color: rgb(13, 13, 13); */
    border: 2px solid rgb(3, 3, 3);
    font-size: 20px;
    border-radius: 3px;
    translate: transform 1s;
}
#experience a:hover{
    border-color:black;
    background-color: #ff004f;
    color:black;
    transform: translateX(-10px);
} 
#project a{
    text-indent: 10px;
    text-decoration: none;
    color:#ff004f;
    /* background-color: rgb(13, 13, 13); */
    /* border: 2px solid rgb(3, 3, 3); */
    font-size: 25px;
    /* border-radius: 3px; */
    translate: transform 1s;
}
a:hover{
    border-color:black;
    /* background-color: #ff004f; */
    color:black;
    transform: translateX(-10px);
} 
  

     /* css for small screen */
     @media only screen and (max-width:675px){
        #header{
            background-image:url(background.png);
        }
        
    .headertext{
        margin-top:80%;
        font-size:20px;
         width:100%;
    }
    .headertext h1{
        font-size:40px;
    }
    .headertext span1 span2{
            font-size:10px;
    }
    nav .fa-solid{
        display:block;
        font-size:25px;
        color:tomato;
            
       }
        nav ul{
            background:linear-gradient(white,tomato);
            position:fixed ;
            top:0;
            right:-65%;
            width:65%;
            height:100vh;
            padding-top:50px;
           z-index: 2;
           transition: right 0.5s;
    
        }
        nav ul li{
            display: block;
            margin: 25px;
            color:white;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    .sub-titles{
        font-size:40px;
    }
    
    .about-col-1,.about-col-2{
        flex-basis: 100%;;
    }
    .about-col-2{
        font-size:24px;
    }
    .tab-links{
        font-size:25px;
        margin-right:25px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size:20px;
        width:100%;
    }
    .btn.btn2{
        font-weight:500;
        font-size:13px;
        weight:100%;
        
    }
         }
   
     #msg{
        color:rgb(49, 144, 6);
        display: block;
        font-size: 30px;
        font-weight:700;
     }
